In [1]:
# Import Library
import pandas as pd
import numpy as np

In [2]:
# Read Data
data = pd.read_csv("final_shop_6modata.csv")

# Show Data
data

,Ad Group,Month,Impressions,Clicks,CTR,Conversions,Conv Rate,Cost,CPC,Revenue,Sale Amount,P&L
0,Shop - 1:1 - Desk - [shop coupon code],July,16038,6504,0.41,1166,0.10,6669,1.03,6402,136770.05,-267.086
1,Shop - 1:1 - Desk - [shop coupon],July,36462,14367,0.39,2188,0.09,13746,0.96,13262,283215.21,-483.951
2,Shop - 1:1 - Desk - [shop discount code],July,3635,1458,0.40,248,0.09,1606,1.10,1723,39165.46,117.136
3,Shop - 1:1 - Desk - [shop promo code],July,26185,10418,0.40,2294,0.12,13278,1.27,13042,284823.48,-235.921
4,Shop - 1:1 - Desk - [shop promo],July,808,282,0.35,61,0.15,391,1.39,337,7717.77,-53.604
...,...,...,...,...,...,...,...,...,...,...,...,...
185,Shop - Exact - Desk - Black Friday/Cyber Monday,November,257,24,0.09,7,0.28,3,0.14,45,898.80,41.946
186,Shop - 1:1 - Desk - [shop discount code],November,7254,2725,0.38,512,0.11,3182,1.17,3227,66672.29,45.468
187,Shop - Exact - Desk - Coupon Code,November,18526,5553,0.30,919,0.10,5982,1.08,6047,129556.90,64.552
188,Shop - Exact - Mob - Black Friday/Cyber Monday,November,3662,266,0.07,24,0.09,44,0.17,160,3268.63,115.963
189,Shop - Exact - Desk - Promo Code,November,25592,7726,0.30,1731,0.14,10914,1.41,11223,236665.59,308.975

In [3]:
# Show Information of Data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ad Group     190 non-null    object
 1   Month        190 non-null    object
 2   Impressions  190 non-null    int64
 3   Clicks       190 non-null    int64
 4   CTR          190 non-null    float64
 5   Conversions  190 non-null    int64
 6   Conv Rate    190 non-null    float64
 7   Cost         190 non-null    int64
 8   CPC          190 non-null    float64
 9   Revenue      190 non-null    int64
 10  Sale Amount  190 non-null    float64
 11  P&L          190 non-null    float64
dtypes: float64(5), int64(5), object(2)
memory usage: 17.9+ KB

In [4]:
# Missing Value Check
data.isnull().sum()

Ad Group       0
Month          0
Impressions    0
Clicks         0
CTR            0
Conversions    0
Conv Rate      0
Cost           0
CPC            0
Revenue        0
Sale Amount    0
P&L            0
dtype: int64

In [5]:
# Duplicate Check
data.duplicated().sum()

0

In [6]:
# Casting Data Type
data["Ad Group"] = data["Ad Group"].astype("string")

# Show Updated Information of Data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ad Group     190 non-null    string
 1   Month        190 non-null    object
 2   Impressions  190 non-null    int64
 3   Clicks       190 non-null    int64
 4   CTR          190 non-null    float64
 5   Conversions  190 non-null    int64
 6   Conv Rate    190 non-null    float64
 7   Cost         190 non-null    int64
 8   CPC          190 non-null    float64
 9   Revenue      190 non-null    int64
 10  Sale Amount  190 non-null    float64
 11  P&L          190 non-null    float64
dtypes: float64(5), int64(5), object(1), string(1)
memory usage: 17.9+ KB

In [7]:
# Extract Ad Type Data
data['Ad Type'] = data['Ad Group']

data['Ad Type'][data['Ad Type'].str.contains('discount')] ='Discount'
data['Ad Type'][data['Ad Type'].str.contains('Discount')] ='Discount'
data['Ad Type'][data['Ad Type'].str.contains('promo')] ='Promo'
data['Ad Type'][data['Ad Type'].str.contains('Promo')] ='Promo'
data['Ad Type'][data['Ad Type'].str.contains('coupon')] ='Coupon'
data['Ad Type'][data['Ad Type'].str.contains('Coupon')] ='Coupon'
data['Ad Type'][data['Ad Type'].str.contains('Competitor')] ='Competitor'
data['Ad Type'][data['Ad Type'].str.contains('Sale')] ='Sale'
data['Ad Type'][data['Ad Type'].str.contains('Black Friday')]='Black Friday'
data['Ad Type'][data['Ad Type'].str.contains('Free Shipping')] ='Free Shipping'
data['Ad Type'][data['Ad Type'].str.contains('Offer')] ='Offer'

# Extract Device Data
data['Device'] = data['Ad Group']

data['Device'][data['Device'].str.contains('Desk')] ='Desktop'
data['Device'][data['Device'].str.contains('Mob')] ='Mobile'

# Extract Marketing Method Data
data['Strategy'] = data['Ad Group']

data['Strategy'][data['Strategy'].str.contains('1:1')] ='Personalized'
data['Strategy'][data['Strategy'].str.contains('Exact')] ='Exact Match'
data['Strategy'][data['Strategy'].str.contains('Phrase')] ='Phrase Match'

# Show Extracted Data
data[['Ad Group', 'Ad Type', 'Device', 'Strategy']]

,Ad Group,Ad Type,Device,Strategy
0,Shop - 1:1 - Desk - [shop coupon code],Coupon,Desktop,Personalized
1,Shop - 1:1 - Desk - [shop coupon],Coupon,Desktop,Personalized
2,Shop - 1:1 - Desk - [shop discount code],Discount,Desktop,Personalized
3,Shop - 1:1 - Desk - [shop promo code],Promo,Desktop,Personalized
4,Shop - 1:1 - Desk - [shop promo],Promo,Desktop,Personalized
...,...,...,...,...
185,Shop - Exact - Desk - Black Friday/Cyber Monday,Black Friday,Desktop,Exact Match
186,Shop - 1:1 - Desk - [shop discount code],Discount,Desktop,Personalized
187,Shop - Exact - Desk - Coupon Code,Coupon,Desktop,Exact Match
188,Shop - Exact - Mob - Black Friday/Cyber Monday,Black Friday,Mobile,Exact Match
189,Shop - Exact - Desk - Promo Code,Promo,Desktop,Exact Match

In [8]:
# Calculate Cost Per Mile (CPM) Metric
data['CPM'] = (data['Cost'] / data['Impressions']*1000).round(2)

# Show Calculated CPM
data[['Impressions', 'Cost', 'CPM']].head()

   Impressions   Cost     CPM
0        16038   6669  415.82
1        36462  13746  377.00
2         3635   1606  441.82
3        26185  13278  507.08
4          808    391  483.91

In [9]:
# Show Information of Data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ad Group     190 non-null    string
 1   Month        190 non-null    object
 2   Impressions  190 non-null    int64
 3   Clicks       190 non-null    int64
 4   CTR          190 non-null    float64
 5   Conversions  190 non-null    int64
 6   Conv Rate    190 non-null    float64
 7   Cost         190 non-null    int64
 8   CPC          190 non-null    float64
 9   Revenue      190 non-null    int64
 10  Sale Amount  190 non-null    float64
 11  P&L          190 non-null    float64
 12  Ad Type      190 non-null    string
 13  Device       190 non-null    string
 14  Strategy     190 non-null    string
 15  CPM          190 non-null    float64
dtypes: float64(6), int64(5), object(1), string(4)
memory usage: 23.9+ KB

In [10]:
# Show Updated Data
data

,Ad Group,Month,Impressions,Clicks,CTR,Conversions,Conv Rate,Cost,CPC,Revenue,Sale Amount,P&L,Ad Type,Device,Strategy,CPM
0,Shop - 1:1 - Desk - [shop coupon code],July,16038,6504,0.41,1166,0.10,6669,1.03,6402,136770.05,-267.086,Coupon,Desktop,Personalized,415.82
1,Shop - 1:1 - Desk - [shop coupon],July,36462,14367,0.39,2188,0.09,13746,0.96,13262,283215.21,-483.951,Coupon,Desktop,Personalized,377.00
2,Shop - 1:1 - Desk - [shop discount code],July,3635,1458,0.40,248,0.09,1606,1.10,1723,39165.46,117.136,Discount,Desktop,Personalized,441.82
3,Shop - 1:1 - Desk - [shop promo code],July,26185,10418,0.40,2294,0.12,13278,1.27,13042,284823.48,-235.921,Promo,Desktop,Personalized,507.08
4,Shop - 1:1 - Desk - [shop promo],July,808,282,0.35,61,0.15,391,1.39,337,7717.77,-53.604,Promo,Desktop,Personalized,483.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,Shop - Exact - Desk - Black Friday/Cyber Monday,November,257,24,0.09,7,0.28,3,0.14,45,898.80,41.946,Black Friday,Desktop,Exact Match,11.67
186,Shop - 1:1 - Desk - [shop discount code],November,7254,2725,0.38,512,0.11,3182,1.17,3227,66672.29,45.468,Discount,Desktop,Personalized,438.65
187,Shop - Exact - Desk - Coupon Code,November,18526,5553,0.30,919,0.10,5982,1.08,6047,129556.90,64.552,Coupon,Desktop,Exact Match,322.90
188,Shop - Exact - Mob - Black Friday/Cyber Monday,November,3662,266,0.07,24,0.09,44,0.17,160,3268.63,115.963,Black Friday,Mobile,Exact Match,12.02
189,Shop - Exact - Desk - Promo Code,November,25592,7726,0.30,1731,0.14,10914,1.41,11223,236665.59,308.975,Promo,Desktop,Exact Match,426.46

In [16]:
# Export Data to .csv
data.to_csv("final_shop_6modat_clean.csv", index=False)